.criteria {
  /* border: 1px solid black;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 30px;
  border-radius: 10px; */

    margin-top: 10%;
    margin-left: 40%;
    margin-right: 30%;
}

.to {
    margin: 0px 10px;
}

.first, .second {
  border-radius: 5px;
    width: 50px;
    outline: none;
    border-width: 1.5px;
}

.job, .prolonged , .income , .multi-select{
    padding-top: 30px;
    
}

.radio1, .radio2 , .job-type {
    display: inline-block;
    margin: 0px 20px;
}
.job-type-label, .income-label , .multi-select-label, .age-label{
    padding-right: 10px;
}

.job-types {
border-radius: 5px;
height: 25px;
    width: 100px;
}

.first-income, .second-income {
    height: 25px;
    border-radius: 5px;
    width: 120px;
    outline: none;
    border-width: 1.5px;
    
}

#current-funds {
border-radius: 5px;
height: 25px;
    width: 170px;
}

.button {
    float: right;
    margin-top: 30px;
}

button {
    height: 25px;
        background-color: rgb(43, 189, 252);
     /* padding: 5px 10px; */
   
    border-radius: 5px;
    outline: none;
    border-color: dodgerblue;
}


.multiselect {
  margin-top: 20px;
  width: 100%;
}

.selectBox {
  
  display: inline-block;
  position: relative;
}

.selectBox select {
  border-radius: 5px;
  height: 25px;
  width: 200px;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  width: 200px;
  margin-left: 180px;
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}